body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #2b1055, #7597de);
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 2;
  align-items: center;
  height: 120vh;
}
header{
  display: flex;
  flex-direction: column;
}
h1 {
  margin-bottom: 10px;
  font-size: 2.5em;
}

p {
  font-size: 1.2em;
  margin-bottom: 40px;
}

button,
input {
  padding: 10px 10px;
  margin: 10px;
  border: none;
  border-radius: 30px;
  font-size: 1em;
  outline: none;
}

button {
  background: #14863b;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #438f5d;
}

input {
  width: 300px;
}

footer {
  margin-top: auto;
  font-size: 0.7em;
}
.hidden{
  display: none;
}
.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.profile-name {
  font-size: 1em;
  margin-top: 5px;
  text-align: center;
}
.user-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  flex-direction: column;
  margin-left: auto;
  margin-right: 20px;
}
.change-bgColor{
  background: linear-gradient(135deg, #be57be, #7597de);
}
.loader {
  width: 48px;
  height: 48px;
  border: 3px solid #FFF;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
  animation: pulse 1s linear infinite;
  top: 45%;
}
.loader:after {
  content: '';
  position: absolute;
  width: 48px;
  height: 48px;
  border: 3px solid #FFF;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: scaleUp 1s linear infinite;
}

@keyframes scaleUp {
  0% { transform: translate(-50%, -50%) scale(0) }
  60% , 100% { transform: translate(-50%, -50%)  scale(1)}
}
@keyframes pulse {
  0% , 60% , 100%{ transform:  scale(1) }
  80% { transform:  scale(1.2)}
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

#songList {
  margin-top: 20px;
}

#songList h2 {
  font-size: 1.5rem;
  color: #333;
  
}

.song-item {
  margin: 5px 0;
  font-size: 1.1rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.song-item a {
  text-decoration:none ;
  color: #4d125c;
}

.song-item a:hover {
  text-decoration:underline;
  color: darkslategray;
}
